* {
    font-family: monospace;
    font-size: 20px;
}

body {
    margin: 0;
    /* width: 100%; */
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* bg effect */
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 21s ease infinite;
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.contents {
    background-image: url("../../imgs/theater.png");
    background-position: 50%, 50%;
    border: 10px solid black;
    padding: 20px;
    width: 80%;
    min-height: 800px;
    /* height: 80%; */
    max-width: 1600px;
    margin-top: 50px;
    background-color: white;
}

.color-change-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    position: relative;
    font-size: 50px;
    top: 125px;
}

.color-change-header:hover {    
    animation: change-color 5s infinite;
}

.arrow {
    font-size: 30px;
    margin: 0 auto;
    width: fit-content; 
    margin-top: 50px;
    margin-bottom: 50px;
    animation: rotate 2s infinite linear;

    position: relative;
    right: 275px;
    top: 120px;
}

#arrow-img {
    width: 250px;
    display: block;
}

.text-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes change-color {
    0%, 100% { 
        color: green; 
        background-color: red;
    }
    33% { 
        color: blue;
        background-color: green;
    }
    66% { 
        color: red;
        background-color: blue; 
    }
}

/* color: #c6dfe1 */

.weird-list-container {
    display: inline-block;
    position: relative;
    left: 250px;
    bottom: 85px;
    border: 10px solid #a2b6b8;
    border-radius: 5px;
    background-color: #a2b6b8;
}

.weird-list-container .weird-list {
    list-style-type: decimal;
    margin: 0;
    color: pink;
}

.weird-list-container .weird-list li:nth-child(4) {
    color: green; 
}

.weird-list-container ~ div {
    color: blue;
}

#subtitle {
    position: relative;
    bottom: 75px;
}
