* {
    font-family: monospace;
    font-size: 20px;
}

body {
    margin: 0;
    /* width: 100%; */
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: background-color 0.3s; 
    /* background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%); */
}

.active-background-color {
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}

/* body {
    transition: background-color 0.3s;
} */

/* @keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
} */

.navbar {
    position: absolute;
    background-color: #135a9c;
    width: 100%;
    margin-top: 20px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: green;
    font-size: 22px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li:nth-child(4) a {
    color: pink;
}

.navbar li a:hover {
    background-color: #0068ca;
}

.navbar ~ div {
    color: blue;
}

#sun {
    position: absolute;
    right: 250px;
    transform: scale(1.5);
}

#moon {
    position: absolute;
    left: 150px;
    transform: scale(0.1);
}

#sun, #moon {
    pointer-events: none; 
}

#sun-radio, #moon-radio {
    display: block;
    position: absolute;
}

/* TODO */

/* #sun-radio:checked ~ body {
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}

#moon-radio:checked ~ body {
    background: black;
} */

#sun-radio {
    right: 396px;
    top: 157px;
    transform: scale(8.5);
    z-index: 10;
}

#moon-radio {
    left: 440px;
    top: 290px;
    transform: scale(5.5);
    z-index: 10;
}

#sun-radio:checked, #moon-radio:checked {
    opacity: 0;
}

#pre-title {
    position: relative;
    top: 175px;
}

.billboard {
    background-image: url('../imgs/billboard.png');
    background-size: 90% 125%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 20px;
    height: 900.812px;
    width: 1500px;
    /* min-height: 900px; */
    /* height: 80%; */
    max-width: 1600px;
    margin-top: 50px;
    animation: wtf 2s infinite linear;
}

@keyframes wtf {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.color-change-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    position: relative;
    font-size: 50px;
    top: 175px;
    left: 17.5%;
}

.color-change-header:hover {    
    animation: change-color 5s infinite;
}

.arrow {
    font-size: 30px;
    margin: 0 auto;
    width: fit-content; 
    position: relative;
    display: inline-block;
}

#arrow-1 {
    right: 29%;
    top: 25%;
    animation: rotate 2s infinite linear;
}

#arrow-2 {
    right: 0%;
    top: 25%;
    animation: reverse-rotate 2s infinite linear;
}

#arrow-img {
    width: 250px;
    display: block;
}

.text-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes reverse-rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(-360deg) }
}

@keyframes change-color {
    0%, 100% { 
        color: green; 
        background-color: red;
    }
    33% { 
        color: blue;
        background-color: green;
    }
    66% { 
        color: red;
        background-color: blue; 
    }
}

.radio-buttons {
    position: relative;
    display: inline-block;
    left: 400px;
    bottom: 205px;
    flex-direction: column; 
    align-items: flex-start;
}

.radio-button-group {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.color-red-button {
    accent-color: red;
}

.color-blue-button {
    accent-color: blue;
}

.footer {
    position: absolute;
    display: inline-block;
    background: #FAD5A5;
    width: 100%;
    bottom: -25px;

}

#copyright {
    margin-top: 5px;
    margin-bottom: 5px;
}
